body {
    font-size: 24px;
    line-height: 30px;
    font-family: "Noto Serif JP", serif;
}

body.menu_background {
    background: rgb(33, 37, 41) !important;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #D3A165;
}

p, span {
    color: #fff;
}

.h500px {
    height: 500px;
}

.yellow {
    color: #D3A165 !important;
}

.white {
    color: #fff !important;
}

.btn_outline {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 0;
    height: 55px;
    font-size: 24px;
}

.btn_outline:hover {
    height: 60px;
    color: #fff;
    border: 1px solid #fff;
    padding-top: 8px;
}

.font-bold {
    font-weight: bold;
}

@media (min-width: 1080px) {
    header nav {
        height: 100px;
    }

    .border-right {
        border-right: 1px solid #fff;
    }
}

.navbar-nav .nav-item {
    margin-left: 20px;
}

.navbar-nav .nav-item .nav-link {
    color: #D3A165;
}

section {
    height: 100vh;
    padding-top: 45px;
    padding-bottom: 45px;
}

section.index_1 {
    background: url("/images/index_1.png");
    background-size: cover;
}

section.index_2 {
    background: url("/images/index_2.png");
    background-size: cover;
}

section.index_3 {
    background: url("/images/index_3.png");
    background-size: cover;
}

section.index_4 {
    background: url("/images/index_4.png");
    background-size: cover;
}

.section_inner {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 100%;
    z-index: 99;
}

.section_inner_bottom {
    border-bottom: 1px solid #fff;
    height: 100%;
    z-index: 99;
}

.section_inner_top {
    border-top: 1px solid #fff;
    height: 100%;
    z-index: 99;
}

.index_logo img {
    /*width: 90px;
    height: 115px;*/
}

.index_2_desc p {
    font-size: 48px;
    line-height: 48px;
}

.terrace_title h1 {
    font-size: 50px !important;
    line-height: 50px !important;
}

.breadcrumbs {
    background: #1E1E1E;
    height: 275px;
}

.breadcrumbs_title {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.events-image {
    background-image: url("/images/event-br.png");
    background-size: cover;
    height: 275px;
}

.image-right {
    background: #1e1e1e;
    height: 600px !important;
}

.image-right .section_inner {
    padding-bottom: 75px;
}

.image-left {
    background: #1e1e1e;
    height: auto !important;
}

.left_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-bottom: 65px;
}

.left_content_inner {
    width: 50%;
}

.right_content {
    position: absolute;
    top: -45px;
    right: 0;
    bottom: 0;
}

.right_content img {
    height: 600px;
    object-fit: cover;
    width: 100%;
    z-index: 0;
}

.lright_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.lright_content h3 {
    font-size: 35px;
}

.lright_content_inner {
    width: 60%;
    margin-top: 20px;
    font-size: 30px;
    line-height: 40px;
}

.lleft_content {
    position: relative;
}

.lleft_content img {
    position: absolute;
    top: -50px;
    left: 0;
    height: 600px;
    object-fit: cover;
    width: 100%;
}

.main_menu {
    background-image: url("/images/menu-background.png");
    padding-top: 0;
    height: 100%;
    background-size: cover;
}

.main_menu .breadcrumbs {
    background: none;
}
.breadcrumbs .section_inner{
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu_container{
    padding-top: 70px;
    color: white;
}
.menu_item{
    margin-top: 50px;
    padding: 50px;
}
.footer {
    background-color: #000;
    font-size: .9em;
    height: 100%;
}

.footer * {
    color: white;
}

ul {
    list-style: none;
}

footer ul li {
    margin-top: 25px;
}

.footer_main {
    margin-top: 50px;
    margin-bottom: 50px;
}

.font-italic {
    font-style: italic;
}


/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.navbar form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 767px) {
    .navbar form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.navbar form > button.logout:focus,
.navbar form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.navbar form > button.logout:focus {
    outline: none;
}

/* style breadcrumb widget as in previous bootstrap versions */
.breadcrumb {
    background-color: var(--bs-gray-200);
    border-radius: .25rem;
    padding: .75rem 1rem;
}

.breadcrumb-item > a {
    text-decoration: none;
}